<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input type="text" value="" v-model="newName">
        <button type="button" v-on:click="addName">Add Name</button>
    </div>
 
    <script> 
        var app = new Vue({
            el: '#root',
            data: {
                names: ['avin'],
                newName: '',
            },
            methods:{  //any custom method that we add that should be nested inside methods object
                addName(){
                    this.names.push(this.newName);
                }
            },
      
        });
      
     
    </script>
</body>
</html>